*  {
    font-family: sans-serif;
}

body{
    margin: 0;
}

.fond {
    background-image: url(wallhaven-858lz1.png);
    object-fit: cover;
    padding-top: 20px;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.507);
    margin-left: 30px;
    margin-right: 30px;
    border-radius : 10px 10px / 5px 5px;
}

.header > a {
    text-decoration: none;
    font-size: large;
    font-family: sans-serif;
    color: black;
    padding: 10px;
}

.header a:hover {
    background-color: black;
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}


.blogslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1222px;
    overflow-y: scroll;
    height: 550px;
    scrollbar-width: none;
}

.blogslist div {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.897);
}

.clicked{
    background-color: blueviolet;
}