:root {
    --primary: rgba(23, 137, 212, 0.788);
    --background: rgba(230, 226, 226, 0.842);
    --bold: 700;
    --mid: 500;
    --light: 300;
    --larger: 24px;
    --large: 20px
}

html {
    font-family: roboto, sans-serif;
    background-color: var(--background);
}

.fond {
    position: absolute;
    height: 100dvh;
    width: 99dvw;
    background-color: blue; 
    z-index: 20;
    animation: disparition 4s both;
}


@keyframes disparition {
    0% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;

    }
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: var(--bold);
    background-color: var(--primary);
    align-items: center;
    padding: 1em;
}

.slide {
    animation: slideup 1s alternate-reverse ease-in infinite;
}

.ColorInRed {
    color: red !important
}

@keyframes slideup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo {
    font-size: calc(var(--large) + 8px);
    background-color: white;
    padding: 0.2em 1em;
    border-radius: calc(var(--large) / 2);
}

.nav-list {
    display: flex;
    gap: 2em;
}

.nav-list a {
    display: block;
    text-decoration: none;
    transition: color 0.3s;
    color: black;
    padding: 0.5em;
}


.nav-list a:hover {
    text-decoration: underline;
    color: white;
}

.nav-list a:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 0.25em;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    flex-wrap: wrap;
}

.side-left .card {
    width: 300px;
    height: fit-content;
    margin-right: 150px;
}

.side-left .card .titre {
    text-align: center;
    font-size: var(--larger);
    font-weight: var(--bold);
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.side-left .card .titre::before {
    content: "";
    background: url(../src/img/contact-chatting-communication-svgrepo-com.svg);
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    transform: translate(-8px, -3px);
}

.side-left .card .contacts ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: var(--mid);
    font-size: 20px;
}

.card {
    width: 500px;
    height: fit-content;
    border: 4px solid rgb(238, 238, 238);
    filter: drop-shadow(0px 0px 8px black);
    background-color: white;
    padding: 10px 20px;
    border-radius: 16px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.middle .card .titre {
    text-align: center;
    font-size: var(--larger);
    font-weight: var(--bold);
}

.middle .card .titre::before {
    content: '';
    background: url(../src/img/user-alt-1-svgrepo-com.svg);
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transform: translateY(-3px);
}

.middle .card .card-email::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transform: translateY(-3px);
    background: url(../src/img/mail-svgrepo-com.svg);

}

.middle .card .card-country::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transform: translateY(-3px);
    background: url(../src/img/country-direction-location-map-navigation-pin-svgrepo-com.svg);

}


.middle .card .card-date::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transform: translateY(-3px);
    background: url(../src/img/calendar-days-svgrepo-com.svg);

}

.side-right .card {
    width: 300px;
    height: fit-content;
    margin-left: 150px;
}

@media only screen and (max-width: 1550px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-list a {
        margin-top: 16px;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .side-left .card {
        width: 200px;
        height: fit-content;
        margin: 0px;
    }


    .card {
        width: 300px;
    }

    .side-right .card {
        width: 200px;
        height: fit-content;
        margin: 0px;
    }
}