@import url('https://fonts.cdnfonts.com/css/tourney');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');

:root {
    --headerback: rgb(21, 51, 71);
    --background: rgb(20, 20, 20);
    --titre: 86px;
    --texte: 26px;
    --inconscient: 20px;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --colortexte: rgb(228, 228, 228);
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--headerback);
    color: var(--colortexte);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--texte);
}

header h1 {
    font-size: var(--titre);
    margin: 16px 0px;
    font-family: Tourney, sans-serif;
    font-weight: var(--bold)
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: black -4px 3px 0px;
}

main {
    background-image: url(../src/img/Page/vide\ mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100dvh - 210px);
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.insconscient::before {
    content: '«';
    font-size: 40px;
    display: inline-block;
    transform: translateY(-10px);
}

.insconscient {
    color: var(--colortexte);
    font-weight: var(--medium);
    font-style: italic;
    font-size: var(--inconscient);
    text-align: center;
    text-shadow: black 4px 4px 0px;
    margin: 2%;
}

.insconscient::after {
    content: '»';
    font-size: 40px;
    display: inline-block;
    transform: translateY(10px);
}


.contain {
    display: flex;
    gap: 20px;

}

.boite {
    background-color: rgba(0, 0, 0, 0.822);
    font-size: var(--texte);
    width: 100%;
    padding: 24px;
    color: var(--colortexte);
    border-radius: 34px;
}

@media only screen and (min-width: 540px) {

    header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 24px;
        padding: 0px 16px 4px 16px;
        gap: 16px;
    }

    .insconscient {
        font-size: calc(var(--inconscient) + 8px);
    }

    main {
        background-image: url(../src/img/Page/vide\ pc.jpg);
        height: calc(100dvh - 130px);
        background-size: contain;
    }

    .boite {
        margin: 0 2dvw;
    }
}

@media only screen and (min-width: 1320px) {

    .boite {
        font-size: calc(var(--texte) + 8px);
    }
    main{
    background-size: cover;
    }
}